---
layout: default
title: My website
subtitle: This is where I will tell my friends way too much about me
use-site-title: true
---

<h3 class="text-center">Never miss a race! Get the weekly schedule in your email:</h2>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//cleaversolutions.us2.list-manage.com/subscribe/post?u=fe9df1b56e5c855f42142ab39&amp;id=82480e9073" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe9df1b56e5c855f42142ab39_82480e9073" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->


<h3>All times are Eastern Standard Time</h3>  
  
{% capture post_date %}{{ site.time | date: "%s" | plus:0 }}{% endcapture %}
{% capture post_date1 %}{{ site.time | date: "%s" | plus:86400 }}{% endcapture %}
{% capture post_date2 %}{{ site.time | date: "%s" | plus:172800 }}{% endcapture %}
{% capture post_date3 %}{{ site.time | date: "%s" | plus:259200 }}{% endcapture %}
{% capture post_date4 %}{{ site.time | date: "%s" | plus:345600 }}{% endcapture %}
{% capture post_date5 %}{{ site.time | date: "%s" | plus:432000 }}{% endcapture %}
{% capture post_date6 %}{{ site.time | date: "%s" | plus:518400 }}{% endcapture %}					
{% capture next_week %}{{ site.time | date: "%s" | plus: 604800 }}{% endcapture %}
{% assign sorted_races = (site.data.2017 | sort: 'date') %}

<table>

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date and race_date < post_date1 %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date1 | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date1 and race_date < post_date2 %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date2 | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date2 and race_date < post_date3 %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date3 | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date3 and race_date < post_date4 %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date4 | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date4 and race_date < post_date5 %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->

<!-- START LOOP -->
	<tr>
		<td colspan="4" align="center"><h3>{{ post_date5 | date: "%A, %B %-d, %Y" }}</h3></td>
	</tr>

{% for race in sorted_races %}
{% capture race_date %}{{ race.date | date: "%s" | plus: 0 }}{% endcapture %}

{% if race_date >= post_date6 and race_date < next_week %}
  <tr>
  	<td>{{ race.name }}</td>
  	<td>{{ race.location }}</td>
  	<td>{{ race.date | date: "%l:%M%P" }}</td> 
  	<td>{{ race.channel }}<br /><small>{{ race.status }}</small></td>
  </tr>
{% endif %}
{% endfor %}
<!-- END LOOP -->




</table>